{% macro accordion(data) %}
<ul class="list-group  col-md-12">
    <li class="list-group-item col-md-12 "><label class="label-result-data">Keywords</label> {{ ''.join(data.keywords)}}</li>
    <li class="list-group-item col-md-12"><label class="label-result-data">created</label> {{ data.created }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">distributionDate</label> {{ data.distributionDate }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">fundingNumbers</label>
        {% for item in data.fundingNumbers %}
            Number: {{ item.number }}
            Type: {{ item.type }}
            <br>
        {% endfor %}
    </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">title</label> {{ data.title }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">distribution</label> {{ data.distribution }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">stiType</label> {{ data.stiType }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">disseminated</label> {{ data.disseminated }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">authorAffiliations</label>
        {% for item in data.authorAffiliations %}
            Author: {{ item.meta.author.name }}
            Organization: {{ item.meta.organization.name}}
            <br>
        {% endfor %}
    </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">stiTypeDetails</label> {{ data.stiTypeDetails }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">modified</label> {{ data.modified }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">id</label> {{ data.id }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">sourceIdentifiers</label> 
        {% for item in data.sourceIdentifiers %}
            Number: {{ item.number}}
            <br>
        {% endfor %}
    </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">publications</label> 
        {% for item in data.publications %}
            doi: {{ item.doi}}
            eissn: {{ item.eissn}}
            issn: {{ item.issn}}
            issue: {{ item.issue}}
            issuePublicationDate: {{ item.issuePublicationDate}}
            pages: {{ item.pages}}
            publicationDate: {{ item.publicationDate}}
            publicationName: {{ item.publicationName}}
            publisher: {{ item.publisher}}
            volume: {{ item.volume}}
            <br>
        {% endfor %}
    </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">status</label> {{ data.status }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">related</label> 
        {% for item in data.related %}
            doi: {{ item.doi}}
            Item: {{ item }}
            <br>
        {% endfor %}
    </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">index</label> {{ data.index }} </li>
</ul>
{% endmacro %}