{% macro accordion(data) %}
<ul class="list-group  col-md-12">
    <li class="list-group-item col-md-12"><label class="label-result-data">ID</label> {{ data.id }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Title</label> {{ data.title.replace("<br>", "") }} </li>
    <li class="list-group-item col-md-12 "><label class="label-result-data">Keywords</label> {{ ''.join(data.keywords)}}</li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Created</label> {{ data.created }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Distribution Date</label> {{ data.distributionDate }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Funding Numbers</label>
        {% for item in data.fundingNumbers %}
            Number: {{ item.number }}
            Type: {{ item.type }}
            <br>
        {% endfor %}
    </li>
    
    <li class="list-group-item col-md-12"><label class="label-result-data">Distribution</label> {{ data.distribution }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">S.T.I Type</label> {{ data.stiType }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Disseminated</label> {{ data.disseminated }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Author Affiliations</label>
        {% for item in data.authorAffiliations %}
            Author: {{ item.meta.author.name }}
            Organization: {{ item.meta.organization.name}}
            <br>
        {% endfor %}
    </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">S.T.I Type Details</label> {{ data.stiTypeDetails }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Modified</label> {{ data.modified }} </li>
    
    <li class="list-group-item col-md-12"><label class="label-result-data">Source Identifiers</label> 
        {% for item in data.sourceIdentifiers %}
            Number: {{ item.number}}
            <br>
        {% endfor %}
    </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Publications</label> 
        {% for item in data.publications %}
            DOI: {{ item.doi}}
            <br>
            EISSN: {{ item.eissn}}
            <br>
            ISSN: {{ item.issn}}
            <br>
            ISSUE: {{ item.issue}}
            <br>
            ISSU PUBLICATION DATE: {{ item.issuePublicationDate}}
            <br>
            PAGES: {{ item.pages}}
            <br>
            PUBLICATION DATE: {{ item.publicationDate}}
            <br>
            PUBLICATION NAME: {{ item.publicationName}}
            <br>
            PUBLISHER: {{ item.publisher}}
            <br>
            VOLUME: {{ item.volume}}
            <hr>
        {% endfor %}
    </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Status</label> {{ data.status }} </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Related</label> 
        {% for item in data.related %}
            doi: {{ item.doi}}
            Item: {{ item }}
            <br>
        {% endfor %}
    </li>
    <li class="list-group-item col-md-12"><label class="label-result-data">Index</label> {{ data.index }} </li>
</ul>
{% endmacro %}