body
{
    /*background-image: url('../img/bg3.jpg');*/
    background-image: url('https://media.tenor.com/DVzVKfkHYJcAAAAd/galaxy-space.gif');
    background-size: cover;
}

.frame-ntrs
{
    background-color: #ffffff;
    width: 80vw;
    max-height: 90vh;
    overflow-y: auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.label-result-data
{
    display: block;
    font-weight: bold;
}

.list-group-item
{
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    border-left: 2px solid #0b3d90;
}

.pdf-view
{
    padding: 0;
}

.pdf-view iframe
{
    width: 100%;
    height: 100%;
}

.spinner-grow 
{
    width: 0.8rem;
    height: 0.8rem;
}