<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BitBull - NTRS</title>
        <link rel="shortcut icon" href="{{ url_for('static', path='/img/logo-black.ico') }}" >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    </head>
    <body>
        
        <div class="frame-ntrs position-absolute top-50 start-50 translate-middle">
            <img style="width: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/2449px-NASA_logo.svg.png" class="rounded mx-auto d-block" alt="Nasa's logo">
            <ul class="list-group  col-md-12">
                <li class="list-group-item col-md-12 "><label class="label-result-data">Keywords</label> {{ ''.join(data.keywords)}}</li>
                <li class="list-group-item col-md-12"><label class="label-result-data">created</label> {{ data.created }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">distributionDate</label> {{ data.distributionDate }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">fundingNumbers</label>
                    {% for item in data.fundingNumbers %}
                        Number: {{ item.number }}
                        Type: {{ item.type }}
                        <br>
                    {% endfor %}
                </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">title</label> {{ data.title }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">distribution</label> {{ data.distribution }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">stiType</label> {{ data.stiType }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">disseminated</label> {{ data.disseminated }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">authorAffiliations</label>
                    {% for item in data.authorAffiliations %}
                        Author: {{ item.meta.author.name }}
                        Organization: {{ item.meta.organization.name}}
                        <br>
                    {% endfor %}
                </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">stiTypeDetails</label> {{ data.stiTypeDetails }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">modified</label> {{ data.modified }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">id</label> {{ data.id }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">sourceIdentifiers</label> 
                    {% for item in data.sourceIdentifiers %}
                        Number: {{ item.number}}
                        <br>
                    {% endfor %}
                </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">publications</label> 
                    {% for item in data.publications %}
                        doi: {{ item.doi}}
                        eissn: {{ item.eissn}}
                        issn: {{ item.issn}}
                        issue: {{ item.issue}}
                        issuePublicationDate: {{ item.issuePublicationDate}}
                        pages: {{ item.pages}}
                        publicationDate: {{ item.publicationDate}}
                        publicationName: {{ item.publicationName}}
                        publisher: {{ item.publisher}}
                        volume: {{ item.volume}}
                        <br>
                    {% endfor %}
                </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">status</label> {{ data.status }} </li>
                <li class="list-group-item col-md-12"><label class="label-result-data">related</label> 
                    {% for item in data.related %}
                        doi: {{ item.doi}}
                        Item: {{ item }}
                        <br>
                    {% endfor %}
                </li>
                {% if data.downloadsAvailable %}
                    <li class="list-group-item col-md-12"><label class="label-result-data">downloads</label> {{ data.downloads }} </li>
                {% endif %}
                <li class="list-group-item col-md-12"><label class="label-result-data">index</label> {{ data.index }} </li>
            </ul>
            <div class="container col-md-12">
                <button type="button" class="btn btn-primary col-md-2">Download</button>
                <button type="button" class="btn btn-primary col-md-1">Resumo</button>
                <button type="button" class="btn btn-primary col-md-2">Relatório</button>
                <button type="button" class="btn btn-primary col-md-2">Tradução</button>
                <button type="button" class="btn btn-primary col-md-1">OCR</button>
                <button type="button" class="btn btn-primary col-md-2">Recomendações</button>
            </div>
        <script type="module" src="{{ url_for('static', path='/js/api.js') }}"></script>
        <script type="module" src="{{ url_for('static', path='/js/dom.js') }}"></script>
        
    </body>
</html>
